<main>
  <section>

    <div *ngIf="item">

      <h3 class="section-title">Item details - {{item.id}}</h3>


      <div class="card">
        <h1>{{item.name}}</h1>
        <p class="price">€{{item.price}}</p>
        <p>{{item.description}}.</p>
        <p class="stock">Stock (amount): {{item.amountOfStock}}</p>

        <p>
          <button routerLink="/items/{{item.id}}/edit">Edit item</button>
        </p>
      </div>


      <button class="col-1 btn" (click)="goBack()">Go back</button>


    </div>

  </section>
</main>
