<main>
  <section>

    <div *ngIf="item">

      <h2>Item details:</h2>


      <div class="form-group">
        <label>Id</label>
        {{item.id}}
      </div>

      <div class="form-group">
        <label>Item name: {{item.name}}</label>
      </div>

      <div class="form-group">
      <label>Item description: {{item.description}}</label>
    </div>

      <div class="form-group">
      <label>Price: {{item.price}}</label>
    </div>

      <div class="form-group">
      <label>Stock (amount): {{item.amountOfStock}}</label>
      </div>

      <button (click)="goBack()">Go back</button>

      <button  routerLink="/items/{{item.id}}/edit">>Edit item</button>


    </div>

  </section>
</main>
