<main xmlns="http://www.w3.org/1999/html">
  <section>
    <h3 *ngIf="customer" class="section-title"><span *ngIf="!customer.id">Create</span> Customer {{customer.id}}</h3>
    <form *ngIf="customer" #editForm="ngForm" (ngSubmit)="save()">
      <div class="row">
        <div class="col-1">

          <label class="form-label" for="firstName">Item name: </label>
          <input id="firstName" [(ngModel)]="customer.firstname" placeholder="first name"
                 name="firstName" class="form-control" required #firstName="ngModel"
                 class="form-control"
                 [ngClass]="{'is-invalid': firstName.touched && firstName.invalid,  'is-valid': firstName.touched && firstName.valid}">
        </div>


        <div class="col-1">
          <label class="form-label" for="lastName">Lastname</label>
          <input id="lastName" [(ngModel)]="customer.lastname" placeholder="last name"
                 name="lastName" class="form-control" required #lastName="ngModel"
                 class="form-control"
                 [ngClass]="{'is-invalid': lastName.touched && lastName.invalid,  'is-valid': lastName.touched && lastName.valid}">
        </div>
      </div>

      <div *ngIf="firstName.errors" class="red-text invalid-text">
        First name is required.
      </div>
      <div *ngIf="lastName.errors" class="red-text invalid-text">
        Last name is required.
      </div>

      <div class="row">

        <div class="col-1">
          <label class="form-label" for="emaillocal">Email</label>

          <input id="emaillocal" [(ngModel)]="customer.email.localPart" placeholder="username"
                 name="emaillocal" class="form-control" required #email="ngModel"
                 class="form-control"
                 [ngClass]="{'is-invalid': email.touched && email.invalid,  'is-valid': email.touched && email.valid}">

        </div>

        <div class="col-1">
          <label class="form-label" for="emailat">&nbsp;</label>
          <input id="emailat"  class="form-control" placeholder="@" disabled>
        </div>


        <div class="col-1">
          <label class="form-label" for="emaildomain">&nbsp;</label>

        <input id="emaildomain" [(ngModel)]="customer.email.domain" placeholder="username"
                 name="email" class="form-control" required #emaildomain="ngModel"
                 class="form-control"
                 [ngClass]="{'is-invalid': emaildomain.touched && emaildomain.invalid,  'is-valid': emaildomain.touched && emaildomain.valid}">
        </div>

        </div>

      <div *ngIf="email.errors || emaildomain.errors" class="red-text invalid-text">
        Valid e-mail is required.
      </div>


      <div class="row">
        <div class="col-1">
          <label class="form-label" for="phoneNumberPrefix">Prefix</label>
          <input id="phoneNumberPrefix" [(ngModel)]="customer.phoneNumber.countryCallingCode" placeholder="Prefix"
                 name="phoneNumberPrefix" class="form-control" required #phoneNumberPrefix="ngModel"
                 class="form-control"
                 [ngClass]="{'is-invalid': phoneNumberPrefix.touched && phoneNumberPrefix.invalid,  'is-valid': phoneNumberPrefix.touched && phoneNumberPrefix.valid}">
        </div>
        <div class="col-4">
          <label class="form-label" for="phoneNumber">Phone number (mobile)</label>
          <input id="phoneNumber" [(ngModel)]="customer.phoneNumber.number" placeholder="Phone number"
                 name="phoneNumber" class="form-control" required #phoneNumber="ngModel"
                 class="form-control"
                 [ngClass]="{'is-invalid': phoneNumber.touched && phoneNumber.invalid,  'is-valid': phoneNumber.touched && phoneNumber.valid}">
        </div>
      </div>
      <div *ngIf="phoneNumberPrefix.errors" class="red-text invalid-text">
        Valid phone prefix is required.
      </div>

      <div *ngIf="phoneNumber.errors" class="red-text invalid-text">
        Valid phone is required.
      </div>


      <div class="row">
        <div class="col-4">
          <label class="form-label" for="street">Street</label>
          <input id="street" [(ngModel)]="customer.address.streetName" placeholder="Street name"
                 name="street" class="form-control" required #street="ngModel"
                 class="form-control"
                 [ngClass]="{'is-invalid': street.touched && street.invalid,  'is-valid': street.touched && street.valid}">
        </div>
        <div class="col-1">
          <label class="form-label" for="number">Number</label>
          <input id="number" [(ngModel)]="customer.address.houseNumber" placeholder="House number"
                 name="number" class="form-control" required #number="ngModel"
                 class="form-control"
                 [ngClass]="{'is-invalid': number.touched && number.invalid,  'is-valid': number.touched && number.valid}">
        </div>
      </div>
      <div *ngIf="street.errors" class="red-text invalid-text">
        Valid streetname is required.
      </div>
      <div *ngIf="number.errors" class="red-text invalid-text">
        Valid house number is required.
      </div>


      <div class="row">
        <div class="col-1">
          <label class="form-label" for="postalCode">Postalcode</label>
          <input id="postalCode" [(ngModel)]="customer.address.postalCode" placeholder="Postal code"
                 name="postalCode" class="form-control" required #postalCode="ngModel"
                 class="form-control"
                 [ngClass]="{'is-invalid': postalCode.touched && postalCode.invalid,  'is-valid': postalCode.touched && postalCode.valid}">
        </div>
        <div class="col-1">
          <label class="form-label" for="country">Country</label>
          <select id="country" class="form-select" name="country "[(ngModel)]="customer.address.country">
            <option *ngFor="let c of countries" [ngValue]="c">{{c}}</option>

          </select>

        </div>
      </div>

      <div *ngIf="postalCode.errors" class="red-text invalid-text">
        Valid postal code is required.
      </div>

      <div class="row">
        <button type="submit" title="All fields required"
                class="col-4 btn btn-create"
                [disabled]="!editForm.form.valid">Save</button>
        <button class="col-1 btn" (click)="cancel()">Cancel</button>
      </div>
    </form>
  </section>
</main>
