<main>

  <section>

    <h3 class="section-title">Customers</h3>


    <table id="customers">
      <tr>
        <th>Id</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>    <button class="btn-create btn" routerLink="/customers/new/edit">New customer</button>
        </th>
      </tr>
      <tr *ngFor="let customer of customers">
        <td>{{customer.id}}</td>
        <td>{{customer.firstname}}</td>
        <td>{{customer.lastname}}</td>
        <td>    <button class="btn-view btn" routerLink="/customers/{{customer.id}}">View</button>
          <button class="btn-edit btn" routerLink="/items/{{customer.id}}/edit">Edit</button>

        </td>

      </tr>

    </table>


  </section>
</main>
