<main>

  <section>

    <h3 class="section-title">Items</h3>

    <app-item-search></app-item-search>

    <button class="btn-create" routerLink="/items/new/edit">Make a new item</button>

    <ul class="card-list">

      <li class="card" *ngFor="let item of items">
        <div class="card-title"><a routerLink="/items/{{item.id}}">{{item.name}}</a></div>
        <img class="card-image" src="../assets/img/item-image.png" alt="item image">
        <div class="card-footer">
          <div>Price: &euro; {{item.price}}</div>
          <div class="stock">
            <span>{{item.stockUrgency | stockStatus | uppercase}}</span>

            <img class="icon" src="../assets/img/{{item.stockUrgency | stockStatus}}_stock-icon.png"
                 alt="{{item.stockUrgency | stockStatus}} stock">

          </div>
        </div>
      </li>

    </ul>


  </section>
</main>
