<main>


  <section>

    <div *ngIf="item">

      <h3 class="section-title" *ngIf="!id">Make a new item:</h3>
      <h3 class="section-title" *ngIf="id">Update item {{item.id}}:</h3>

      <form *ngIf="item" #editForm="ngForm" (ngSubmit)="save()">


        <div class="row" *ngIf="id">
          <div class="col-1">
          <label>Id</label>
          {{item.id}}
          </div>
        </div>

        <div class="row">
          <div class="col-1">

          <label class="form-label" for="item-name">Item name: </label>
          <input id="item-name" [(ngModel)]="item.name" placeholder="name"
                 name="name" class="form-control" required #name="ngModel"
                 class="form-control"
                 [ngClass]="{'is-invalid': name.touched && name.invalid,  'is-valid': name.touched && name.valid}">
        </div>
        </div>

        <div *ngIf="name.errors" class="red-text invalid-text">
          Name is required.
        </div>

        <div class="row">
          <div class="col-1">
          <label class="form-label" for="item-description">Item description: </label>
          <textarea id="item-description" [(ngModel)]="item.description" placeholder="description"
                 name="description" class="form-control" required maxLength="255" #description="ngModel"
                    type="text"
                 [ngClass]="{'is-invalid': description.touched && description.invalid,  'is-valid': description.touched && description.valid}">
          </textarea>
          <label class="counter-right"><label [ngClass]="item.description.length > 254 ? 'red-text': ''">{{countCharactersLeft(item.description)}}</label>/255</label>
        </div>
        </div>

        <div *ngIf="description.errors" class="red-text invalid-text">
          Description is required.
        </div>
        <div *ngIf="item.description.length > 255" class="red-text invalid-text">
          Description too long (255 chars max)
        </div>

        <div class="row">
          <div class="col-1">
          <label class="form-label" for="item-price">Price: </label>
          <input id="item-price" [(ngModel)]="item.price" placeholder="price"
                 name="price" class="form-control" required #price="ngModel" type="number" min="0.01"
                 [ngClass]="{'is-invalid': price.touched && price.invalid,  'is-valid': price.touched && price.valid}">
          </div></div>

        <div *ngIf="price.errors" class="red-text invalid-text">
          Price is required.
        </div>

        <div *ngIf="price.errors?.['min']" class="red-text invalid-text">
          Price should be minimum 0.01.
        </div>

        <div class="row">
          <div class="col-1">
          <label class="form-label" for="item-stock">Stock (amount): </label>
          <input id="item-stock" [(ngModel)]="item.amountOfStock" placeholder="amount in stock"
                 name="stock" class="form-control" required #stock="ngModel" type="number" min="0"
                 [ngClass]="{'is-invalid': stock.touched && stock.invalid,  'is-valid': stock.touched && stock.valid}">
          </div></div>

        <div *ngIf="stock.errors" class="red-text invalid-text">
          Stock amount is required.
        </div>

        <div *ngIf="stock.errors?.['min']" class="red-text invalid-text">
          Minimum 0 stock.
        </div>

        <div class="row">
        <button type="submit" title="All fields required"
                class="col-4 btn btn-create"
                [disabled]="!editForm.form.valid">Save</button>

          <button (click)="cancel()" class="col-1 btn">Go back</button>
        </div>


      </form>

    </div>

  </section>
</main>
